.headicon{
    position: relative;
    border-radius: 50%;
    max-width: 300px;
    padding-top:20px;
}
.intruduce{
    max-width: 1000px;
    padding:25px;
}
.headicon img{
    width: 100%;
    
    
}
.content{
    font-size:20px;
    line-height:30px;
}
.intruduce p{
    text-align: left;
}
@media screen and (max-width:768px){
    
    .headicon{
        
        max-width: 800px;
    }
}
