.row{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(320px,1fr));
    grid-auto-rows: 320px;
    grid-gap:10px;
}
.item{
    overflow: hidden;                   /*隱藏超出外框的圖片*/
    position: relative;                 /*圖片置中*/
    cursor:pointer;
}
.item img{
    position: absolute;                 /*圖片置中*/
    top: 50%; left: 50%;                /*圖片置中*/
    transform: translate(-50%, -50%);   /*圖片置中*/
   transition: all .3s 0s ease-out;
}
.item img:hover{
    opacity: .7;
}
.wimg img{
    width: auto;
    height: 100%;
    
}
.himg img{
    height: auto;
    width: 100%;
    top:75%;
}

@media screen and (max-width:768px){
    .row{
        display:flex;
        flex-direction: column;
    }
    .item{
        margin-bottom:10px;
    }
    .item img{
        position:static;
        transform: none;
        max-width: 100%;
    }
    .wimg img{
        width: 100%;
    }
}

@media screen and (max-width:1024px){
    .row{
        grid-template-columns:1fr;
        grid-auto-rows:500px;
    }
}