@media screen and (min-width:801px){
    .row{
        display:grid;
        width: 100%;
        font-size:40px;
        grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
        grid-auto-rows: 320px;
        grid-gap:10px;
        /*justify-items:center;
        justify-content:space-evenly; */
    }
    .item{
        display:flex;
        width: 100%;
        /* justify-content:center;
        align-items:center; */
        overflow: hidden;                   /*隱藏超出外框的圖片*/
        position: relative;                 /*圖片置中*/
    }
    .item img{
        position: absolute;                 /*圖片置中*/
        top: 50%; left: 50%;                /*圖片置中*/
        transform: translate(-50%, -50%);   /*圖片置中*/
        transition: all .3s 0s ease-out;
        vertical-align: middle;
    }
    .item img:hover{
        opacity: .7;
    }
    .wimg img{
        width: auto;
        height: 100%;
        vertical-align:bottom;
        
    }
    .himg img{
        height: auto;
        width: 100%;
    }
    
    } /*min-width:801px*/
    @media screen and (max-width:800px){
        .row{
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
        }
        .item{
            margin-bottom:20px;
        }
        .item img{
            width: 100%;
            
        }
    }